# Unity folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
Assets/SceneDependencyCache/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
*.csproj
*.sln
*.user
*.userprefs

# Rider
.idea/

# Unity cache
*.pidb
*.booproj
*.svd
*.unitycache

# Crash reports
sysinfo.txt

# Blender backup
*.blend1
*.blend2
*.blend@
